.background {
    background-image: url("^assets/BgImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}