* {
    font-family: "Poppins", sans-serif;
}

.background {
    background-image: url("^assets/bg.jpg");
    // background-image: url("^assets/BgImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

.inner-container {
    width: 400px;
    flex-direction: column;
    padding: 0 15px;

    header {
        color: #fff;
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .input-field {
        display: flex;
        flex-direction: column;
        // padding-top: 10px;

        .input {
            height: 50px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 30px;
            color: #fff;
            padding: 0 45px 0 25px;
            background: rgba(255, 255, 255, 0.1);
        }

        .input:hover {
            border: 1px solid;
            cursor: pointer;
        }

        .input:focus {
            border: 1px solid;
            cursor: text;
        }

        mat-icon {
            font-family: "Material Icons" !important;
            cursor: pointer !important;
            position: relative;
            top: -37px;
            color: #fff;
            margin-left: auto;
            margin-right: 15px;
        }
    }

    ::-webkit-input-placeholder {
        color: #fff;
    }
    .submit {
        border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 45px;
        outline: none;
        width: 100%;
        background: rgba(255, 255, 255, 0.7) !important;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }

    .submit-disabled {
        cursor: no-drop;
    }
    .submit:hover {
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        color: #fff;
        margin-top: 10px;

        .left {
            display: flex;
            cursor: pointer !important;

            input {
                margin-right: 5px;
                cursor: pointer !important;
            }
        }
        label {
            color: #fff;
            text-decoration: none;
            cursor: pointer !important;
        }
    }
}
