.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px;
}

.button-area {
    align-items: center;
    justify-content: space-between;

    button {
        width: 50%;
        text-align: center;
        cursor: pointer;
    }

    .cancel {
        border: 2px solid red;
        color: red;
        margin-right: 2px;
        background-color: #fff;
    }

    .create {
        background-color: green;
        border: 2px solid green;
        color: #fff;
        margin-left: 2px;
    }
}
